body {
    font-family: 'Yanone Kaffeesatz', serif;
  /*  font: 11pt Yanone Kaffeesatz, sans-serif;*/ /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
}

header {
	background-color: #7BA7AB;
	padding: 10px; 
}

footer{
	/*background-color: #e8b725;*/
	padding: 10px; 
	clear: left; 
}

h1{
  font: 'Yanone Kaffeesatz';
}

#wrapper { /* wrapper */
	margin: 0 auto;
	/*background: #bff2ed;*/
	width:800px;
    padding: 5px; /* Поля вокруг текста */
    border-radius: 10px;
    
}

#main{
	/*margin: 0 auto;*/
  padding: 10px;
	float: left;
	width:600px;
  box-shadow: 0 0 10px #ccc;
	/*background: #f2e5bf;*/
	height: 600px;
	border-radius: 10px;
}

#sidebar{
	float: left;
	width:190px;
	/*background: #f0dfad;*/
	height: 500px;
	border-radius: 10px;
}

.clear { 
    clear: both; /* Отмена обтекания */ 
   }

* {box-sizing: border-box;}
form {
  position: relative;
  width: 600px;
  /*margin: 0 auto;*/
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: ;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  content: "СКАЧАТЬ";
  font-family: Yanone Kaffeesatz;
  font-size: 16px;
  color: #F9F0DA;
}

.sitename {
  font-size: 15px;
  text-align: center;
  margin-left: 10%;
}

.results{
  width: 100%;
  min-height: 290px;
  padding: 5px;
}

.padd5{
  padding: 5px;
}

.preview{
  float: left;
  width: 280px;
  height: 210px;
}

.videoname{
 
  font-size: 15px;
  text-align: center;
}

.download{
  font-size:25px;
}