<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>SiteName - get video from youtube</title>
	<meta charset="utf-8">
	 <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='YanoneKaffeesatz-Light.ttf') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='mystyle.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="../static/mystyle.css">-->
</head>
<body>
	<header class=""><span class="sitename">SiteName</span></header>
	
  <div id="wrapper">
	    <h1>SiteName - Сервис для скачивания видео с youtube</h1>
		<form method="post">
		<input type="text" name="url" placeholder="Ссылка youtube">
		<button type="submit" class=""></button>
		</form>
	
	<div id="main">
	{% if name %}
	  <div class="results">
		<div class="preview">
			<img src="{{name.bigthumb}}" width="270" height="200" border-radius="5">
		</div>
		<span class="videoname padd5">
			{{name.title}}/
			{{name.author}}
		</span> <br>
		<span class="download padd5">
			<a href="{{name.getbest().url}}">{{name.getbest().resolution}} {{name.getbest().extension}} </a>
		</span>
		<div class="clear"></div>
	</div>
	{% else %}
	  <h3>Приветсвенное слово</h3>
	{% endif %}
	
	</div>

	<div id="sidebar">
		
	</div>
	<div class="clear"></div>
  </div>
	<footer class=""></footer>
</body>
</html>