<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>SiteName - get video from youtube</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
	<header class=""><span class="sitename">SiteName</span></header>
	
  <div id="wrapper">
	    <h1>SiteName - Сервис для скачивания видео с youtube</h1>
		<form method="post">
		<input type="text" name="url" placeholder="Ссылка youtube">
		<button type="submit" class=""></button>
		</form>
	
	<div id="main">
	{% if name %}
	  Ссылка ютуб: <a href="{{ name }}">
	  Download</a>
	{% else %}
	  Hello World
	{% endif %}
	</div>

	<div id="sidebar">
		
	</div>
	<div class="clear"></div>
  </div>
	<footer class=""></footer>
</body>
</html>